// Estilos pagina principal de citas
#citas {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .card-cita {
        width: 50%;
        background-color: var(--card-body-bg);
        border-radius: 8px 8px 0px 0px !important;

        .card-cita-header {
            background-color: var(--card-header-bg);
            color: var(--card-header-text);
            font-weight: bold;
            border-radius: 5px 5px 0px 0px !important;
        }
    }
}

/* Estilos específicos para tablets y pantallas más grandes */
@media screen and (max-width: 1300px) {
    #citas {
        flex-direction: column;

        .card-cita {
            width: 100%;
        }
    }
}