// Estilos para la pagina de inicio Home
.info-card  {
    .info-card-header {
        background-color: var(--card-header-bg) !important;
        
        h5, p {
            color: var(--card-header-text) !important;
        }
    }

    .info-card-body {
        background-color: var(--card-body-bg);
    }
}

.mini-info-card {
    background-color: var(--card-body-bg) !important;
}