// Estilos para la vista individual de cada informe
#informe {
    #informe-encabezado {
        background-color: #2a3042;
        color: #a6b0cf !important;

        div h2 {
            font-size: 20px;
            color: #a6b0cf;
        }
    }

    #informe-contenido {
        background-color: white;
        color: var(--informe-text);

        .subtitol-informe {
            background-color: #74788d;
            padding: 1rem;
            color: white;
        }

        h5, span {
            color: var(--informe-text);
        }

        span {
            font-weight: normal;
        }

        p {
            font-size: 1.015625rem;
        }
    }
}

.botones-acciones {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.pdf-icon {
    width: 30px;
}