// Estilos para las tablas de la aplicación
.tabla-healthub {
    thead tr {
        th:nth-last-child(4) {
            text-align: center;
        }
        
        th {
            background-color: var(--table-header-bg) !important;
            color: var(--table-header-text);
        }

        th:first-child {
            border-radius: 5px 0px 0px 0px;
        }

        th:last-child {
            border-radius: 0px 5px 0px 0px;
        }
    }

    tbody {
        tr {
            td:nth-last-child(4) {
                text-align: center;
            }
            
            td {
                background-color: var(--table-body-bg);
                color: var(--table-body-text);
                vertical-align: middle;
                border: none;
            }
        }

        tr:last-child {
            td:first-child {
                border-radius: 0px 0px 0px 5px;
            }

            td:last-child {
                border-radius: 0px 0px 5px 0px;
            }
        }
    }
}